/*CSS Reset*/
* {
  padding:0; 
  margin:0; 
  border: 0; 
  outline: 0;
  
}

/*Fonts*/
@font-face {
  font-family: 'Bungee';
  src: url('../fonts/Bungee/bungee-regular.woff2') format('woff2'),
       url('../fonts/Bungee/bungee-regular.woff') format('woff'),
       url('../fonts/Bungee/Bungee-Regular.tff') format('truetype');
}

@font-face {
  font-family: 'Cabin';
  src: url('../fonts/Cabin/cabin-regular.woff2') format('woff2'),
       url('../fonts/Cabin/cabin-regular.woff') format('woff'),
       url('../fonts/Cabin/Cabin-Regular.tff') format('truetype'),
       url('../fonts/Cabin/cabin-bold.woff2') format('woff2'),
       url('../fonts/Cabin/cabin-bold.woff') format('woff'),
       url('../fonts/Cabin/Cabin-Bold.tff') format('truetype'),
       url('../fonts/Cabin/cabin-italic.woff2') format('woff2'),
       url('../fonts/Cabin/cabin-italic.woff') format('woff'),
       url('../fonts/Cabin/Cabin-Italic.tff') format('truetype');
}

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster/lobster-regular.woff2') format('woff2'),
       url('../fonts/Lobster/lobster-regular.woff') format('woff'),
       url('../fonts/Lobster/Lobster-Regular.tff') format('truetype');
}

a {
    text-decoration: none;
}

body {
  
}

li {
  list-style: none;
}

/*Header*/
header {
  background-color: rgb(35, 35, 39);
  border-bottom: 2em solid rgb(157, 29, 28);
  padding-left: 8%;
}

.brand-name {
  /*text-align: center;
  position: relative;
  width: 6em;
  margin-left: 1em;
  color: white;
  font-family: 'Lobster';
  font-size: 25px;
  background-color: rgb(22, 78, 87); */
  /*padding: .5em .1em;*/
  width: 100px;
  height: 55px;
  background: red;
  position: relative;
}

/*Hexagon*/
.brand-name:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid red;
}
.brand-name:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid red;
}

header ul {
  list-style: none;
  margin-left: 25%;
  
}

header li {
  display: inline-block;
  padding-left: 65px;
}

header li a {
  color: rgb(250, 168, 102);
  transition: .5s;
  font-family: 'Bungee';
  font-size: 20px;
}

header li a:hover {
  color: rgb(157, 29, 28);
  transition: .5s;
  cursor: pointer;
}

.active a{
  color: rgb(157, 29, 28);
}

header button {
  border-bottom: 1px solid rgb(58, 113, 122); 
  margin-top: -5em;
  margin-right: 5em;
  padding: 5px 2em;
  height: 40px;
  width: 125px;
  float: right;
  font-family: 'Lobster';
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(22, 78, 87);
}

header button:hover {
  cursor: pointer;
}
/*End Header*/

/*Body*/
#ContentArea {
  background-color: rgb(237, 165, 101);
  padding-left: 10%;
}

.menu-header h2 {
  font-family: 'Bungee';
  color: rgb(38, 38, 38);
}

.address {
  font-family: 'Cabin';
  margin-top: -15px;
  width: 15em;

}

.address a {
  color: rgb(157, 29, 29);
}

.menu-info {
  font-family: 'Cabin';
}

.category-header {
  background-image: url('../img/Burger-Category-Header.jpg');
  background-repeat: no-repeat;
}

.category {
  font-family: 'Bungee';
  color: white;
  background-color: rgb(36, 36, 36);
  width: 10em;
  margin-bottom: .1em;
  text-align: center;
  transition: .5s;
}

.category:hover {
  background-color: rgb(157, 29, 29);
  cursor: pointer;
  transition: .5s;
}

.selected-category {
  background-color: rgb(157, 29, 29);
}

/*HideS Product Pricing*/
.product-detail span:nth-child(2n+1) {
  display: none;
}







/* dd {
  float: right;
}*/

/*#prod1, .product-image  {
  background-image: url('../img/Products/Classic-Burger.jpg');
  background-repeat: no-repeat;
  height: 500px;
}*/

/*End Body*/









